*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
:root{
    --grey:#696A72;
    --black:#090609;
    --red:#F24535;
    --light-grey:#EBEEF2;
    --white:#fff;
    --filter:rgba(0,0,0,0.3);
    --filter-hover:rgba(0,0,0,0.7);
    --shadow: 0 5px 10px rgba(0,0,0,0.1);
    /* --title:'Anton', sans-serif; */
    --title:'overpass', sans-serif;
    --text:'overpass', sans-serif;
    --size-title:40px;
    --size-text:17px;
}

body{
 background-color: var(--light-grey);   
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-family: var(--title);
}
h1{
    font-size: var(--size-title);
    letter-spacing: 5px;
}
p,a{
    font-family: var(--text);
    color: var(--black);
    font-weight: 400;
    font-size: var(--size-text);
}
button{
    font-family: var(--text);
}
p.pagination{
    margin: 10px auto;
    background-color: var(--white);
    padding: 10px 0;
}
p.pagination a{
    color: var(--black);
    border: 1px solid var(--black);
}
.container{
    margin: 0 auto;
    width: 1080px;
}
.main_navbar,.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_navbar{
    height: 100px;
    background-color: var(--black);
    padding: 0 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.logo a{
    font-family: var(--title);
    font-size: var(--size-title);
    color: var(--light-grey);
    text-transform: uppercase;
}
.menu{
    width: 40%;
    height: 100%;

}
.menu > li{
    height: 100%;
}
.menu > li > a{
    text-transform: uppercase;
    padding: 20px 5px;
    color: var(--grey);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}
.menu li a:hover{
    color: var(--light-grey);
}
.menu > li > a::after{
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: var(--light-grey);
    transition: 0.3s ease-in-out;
}
.menu li a:hover:after{
    width: 100%;
}
.has_children:hover > .submenu{
    display: block;
}

.submenu{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--red);
    padding: 15px 30px;
    display: none;
    z-index: 999;
}
.submenu .container{
    width: 47%;
    display: flex;
}
.submenu ul{
    margin:0 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.submenu ul > a{
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.submenu ul li{
    padding: 5px 0;
}
.submenu ul li a{
    padding: 0;
    text-transform: unset;
    color: var(--light-grey);
    transition: 0.3s ease-in-out;
}
.submenu ul li a:hover{
    color: var(--black);
    text-decoration: underline;
}
.search{
    width: 20%;
}
.search form input,.search form button{
    height: 100%;
    border: none;
    outline: none;
}
.search form{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.search form input{
    width: 80%;
    background-color: var(--light-grey);
    padding:0 20px;
}
.search form button{
    width: 20%;
    cursor: pointer;    
    background-color: transparent;
    border: 1px solid var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}
.search form button span{
    color: var(--light-grey);
}

.home{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(../img/home.jpg);
    position: relative;
    z-index: 2;
}
.home::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--filter);
    z-index: -1;
}
.home_text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: var(--white);
    transform: translate(-50%,-40%);
}
.home_text p{
    color: var(--white);
    margin-bottom: 30px;
}
.home_text button {
    border: none;
    outline: none;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.home_text button:hover{
    transform: scale(1.2);
}
.home_text button a{
    color: var(--white);
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--white);
    padding: 10px 30px ;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}
.home_text button a:hover{
    background-color: var(--red);
    border: 1px solid var(--red);
    color: var(--white);
}
/* SECTION */
section{
    width: 100%;
    min-height: 100vh;
}
/* NOUVEAU / VENTES */
.nouveau,.ventes{
    background-color: var(--white);
}
.nouveau .container,.ventes .container{
    padding: 100px 0;
}
.nouveau h1,
.ventes h1{
    padding: 15px 0;
    text-align: center;
    color: var(--red);
    /* box-shadow:var(--shadow);  */
}
.contain_card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.card{
    width: 24%;
    margin: 15px 0;
    padding: 0 0 15px 0;
    background-color: var(--white);
    box-shadow:var(--shadow); 
    position: relative;
}

.card_text{
    text-align: center;
    padding: 10px 0;
}
.card_text p:nth-child(1){
    text-transform: uppercase;
}
.card_text p{
    margin: 8px 0;
}
.card_text .descr{
    font-size: 14px;
    color: var(--grey);
    width: 80%;
    margin: 0 auto;
}
.card_text button{
    width: 80%;
    height: 30px;
    background-color: var(--red);
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: none;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.card_text button:hover{
    background-color: var(--white);
    border: 1px solid var(--red);
}
.card_text button a{
    color: var(--light-grey);
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_text button a:hover{
    color: var(--red);
}
.card_pic{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
/* CATEGORIE */
.categorie{
    padding: 0;
    min-height: auto;
    margin: 100px 0;
}
.categorie .container div{
    position: relative;
    z-index: 2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.categorie .container div,
.categorie .container div a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.categorie .container div a{
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 30px;
    color:var(--white)
}
.categorie .container{
    height: 70vh;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(2, 1fr);
    grid-gap: 30px
}
.categorie .container div::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--filter);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.categorie .container div:hover::after{
    background-color: var(--filter-hover);
}
.ordi_portable{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    background-image: url(../img/ordi1.jpg);
}
.carte_graphique{
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    background-image: url(../img/carte_graphique1.jpg);
}
.processeur{
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    background-image: url(../img/processeur.jpg);
}
.carte_mere{
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
    background-image: url(../img/cartemere.jpg);
}

/* TAG */
.tag{
    min-height: auto;
    background-color: var(--red);
}
.tag .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
    color: var(--white);
}
.produit{
    margin-top: 30px;
}
.produit a{
    border: 1px solid var(--white);
    color: var(--white);
    padding: 5px 30px ;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}
.produit a:hover{
    color: var(--red);
    background-color: var(--white);
    border: 1px solid var(--red);
}
/* PARTENAIRES */
.partenaires{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    margin-top: 0;
}

.contain_partenaires{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
    background-color: #fff;
    padding: 50px 0;
}
.contain_partenaires img{
    width:calc(100% / 12);
    object-fit: cover;
    object-position: center;
}

/* FOOTER  */
footer {
    padding: 20px 0;
    background-color: var(--black);
}
footer a,footer p{
    color: var(--grey);
}

footer .up{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
}
footer .up p{
    text-transform: uppercase;
    margin-bottom: 15px;
    text-decoration: underline var(--grey);
}
footer .up ul li{
    width: 100%;
    height: 50px;
}
footer .up ul li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;
}
footer .up ul li a:hover{
    color: var(--light-grey);
}
footer .down{
    margin-top: 30px;
}

/* PRESENTATION */

.presentation .container{
    min-height: 150vh;
    margin: 200px auto 100px auto;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows:repeat(3, 1fr);
    grid-gap: 30px
}

.presentation .container div:nth-child(1){
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}
.presentation .container div:nth-child(2){
    grid-column: 4 / span 2;
    grid-row: 1 / span 1;
}
.presentation .container div:nth-child(3){
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
}
.presentation .container div:nth-child(4){
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}
.presentation .container div:nth-child(5){
    grid-column: 3 / span 3;
    grid-row: 3 / span 1;
}

.presentation .text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.presentation .pic{
    background-image: url(../img/home2.jpg);
    background-position: center;
    background-size: cover;
}
/* DETAIL */
.detail{
    background-color: var(--white);
}
.detail .container{
    padding: 200px 0 100px 0;
    display: flex;
    align-items: center;
}
.detail h1{
    color: var(--red);
}
.detail .container img{
    width: 50%;
    object-fit: cover;
    object-position: center;
}
.detail p{
    margin-bottom: 30px;
}
.detail .info{
    width: 50%;
}
.description{
    margin: 30px 0;
}
.prix,.prix_promo,.prix_barre{
    font-size: var(--size-title);
    display: inline-block;
    width: 100%;
    position: relative;
}
.prix_barre{
    color: var(--grey);
    font-size: 25px;
}
.prix_barre::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width:20%;
    height: 5px;
    transform: translate(-5%,-100%);
    background-color: var(--red);
}
.garantit,.disponible,.promo,.pourcentage_promo,.pas_dispo{
    padding: 5px 10px;
    display: inline-block;
    color: var(--light-grey);
}
.garantit,.promo,.pourcentage_promo{
    background-color: var(--red);
    font-size: 13px;
}
.disponible{
    border:1px solid rgb(63, 212, 133);
    color: rgb(63, 212, 133);
}
.pas_dispo,.garantit{
    border:1px solid var(--red);
    background-color: transparent;
    color: var(--red);
}

.pas_dispo,.disponible{
    font-size: 13px;
}
/* PAGE PRODUIT */

.produit .container{
    min-height: 100vh;
    margin: 200px auto 100px auto;
    display: flex;
    justify-content: space-between;
}
.produit .filtre{
    width: 25%;
    background-color: var(--white);
    box-shadow: var(--shadow);
    padding: 30px 0;
    position: relative;
}
.produit .contain_produit{
    width: 73%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: var(--shadow);
}
.produit .contain_produit h1{
    color: var(--red);
    background-color: var(--white);
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.contain_produit .card_produit{
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card_produit .left{
    width: 80%;
}
.card_produit .produit_pic{
    width: 20%;
    height: 100%;
    margin-left: 20px;
    object-position: center;
    object-fit: cover;
}
.info_produit p{
    margin-bottom: 8px;
}
.produit_desc{
    width: 95%;
    font-size: 14px;
}
.card_produit .info_produit{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    padding: 20px;
}
.info_produit button{
    width: 50%;
    height: 30px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    border: none;
    transition: 0.3s ease-in-out;
}
.info_produit button a{
    color: var(--light-grey);
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

/* filtre */
.filtre h2{
    text-align: center;
    color: var(--black);
}
.filtre .par_nom{
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: sticky;
    top: 20px;
    left: 0;
}
.par_nom input,.par_nom select{
    width:100%;
}
.par_nom input::placeholder{
    font-size: 14px;
}
.par_nom input,.par_nom select,.par_nom button{
    padding: 5px;
    font-family: var(--text);
    border: 1px solid var(--black);
    background-color: transparent;
    font-size: 16px;
    outline: none;
}
.par_nom input[type='range']{
    -webkit-appearance: none;   
    padding: 0;                   
    font: inherit;                
    outline: none;
    opacity: .8;
    background: var(--light-grey);              
    box-sizing: border-box;       
    transition: opacity .2s;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: var(--red);
    height: 20px;
    width: 20px;
}
input[type=range]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--light-grey);
}
.par_nom button{
    margin-top: 10px;
    cursor: pointer;
    background-color: var(--red);
    border: 1px solid var(--red);
    color: var(--light-grey);
    transition: 0.3s ease-in-out;
}
.par_nom button:hover{
    background-color: transparent;
    color: var(--red);
}
label{
    display: block;
    font-family: var(--text);
    text-transform: uppercase;
}
.par_nom div{
    margin-bottom: 30px;
    width: 100%;
}