*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --black-color: #0D0D0D;
    --white-color: #ffffff;
    --black-casse: #f2f2f2;
    --red-color: #F22727;
    --orange-color: #F24822;
    --light-orange-color: #F29D35;
    --yellow-color: #F2DE79;
    --green:rgb(63, 212, 133);
    --font: 'overpass', sans-serif;
    --small-text-size: 13.5px;
    --title-size: 32px;
    --shadow: 0 5px 10px rgba(0,0,0,0.2);
    --filter-black:rgba(0,0,0,0.2);
}
body{
    color: var(--black-color);
    font-family: var(--font);
}
a{
    color: var(--black-color);
}
h1{
    font-size: var(--title-size);
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}
.dashboard{
    min-height: 100vh;
    width: 100%;
    background-color: var(--white-color);
    display: grid;
    grid-template-columns:250px repeat(1, 1fr);
    grid-template-rows: 100px repeat(1, 1fr) ;
    grid-gap:0;
}

.dashboard nav {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    padding: 0 50px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow);
    background-color: var(--black-casse);
}
.dashboard nav .logo{
    text-transform: uppercase;
    font-size: var(--title-size);
}
nav .compte{
    display: flex;
    align-items: flex-end;
}

nav .compte img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.dashboard aside {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
}
aside .aside_menu{
    width: 100%;
    background-color: var(--black-casse);
    box-shadow: var(--shadow);
}
aside .aside_menu li{
    width: 100%;
    height: 60px;
}
aside .aside_menu li.active a{
    background-color: var(--white-color);
    border-bottom: 1px solid var(--orange-color);
}
aside .aside_menu li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    color: var(--black-color);
    padding: 0 20px;
    transition: 0.3s ease-in-out;
    border-bottom: 0.1px solid var(--black-casse);
    font-size: var(--small-text-size);
    font-weight: 400;
}
aside .aside_menu li a img{
    width: 25px;
    margin-right: 15px;
    transform: translateY(-2px);
}
.aside_menu li a:hover{
    background-color: var(--white-color);
}
.dashboard main {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    position: relative;
    background-color: var(--white-color);
    overflow: hidden;
}

main > div{
    padding: 20px;
}
.info{
    height: 100vh;
    width: 100%;
}
table{
    width: 100%;
    background-color: var(--white-color);
}
table tr th,
table tr td{
    padding: 5px 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: calc(100% / 12)
}
table tr th{
    text-transform: uppercase;
}
table tr.titre{
    background-color: var(--filter-black);
}
table tr.row{
    background-color: var(--black-casse);
}
tr.row td a{
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
.success{
    color: var(--green);
}
.danger{
    color: var(--red-color);
}
.pagination{
    margin-top: 20px;
}
.pagination a{
    background-color: var(--white-color);
    box-shadow: var(--shadow);
    padding: 5px 10px;
}
.en_tete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.en_tete button{
    border: 1px solid var(--green);
    background-color: transparent;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
.en_tete button a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: var(--font);
    color: var(--green);
    transition: 0.3s ease-in-out;
}
.en_tete button a:hover{
    letter-spacing: 2px;
}

/* FORMULAIRE DASHBOARD */

.dash_form{
    width: 500px;
}
.dash_form input::placeholder,.dash_form textarea::placeholder{
    text-transform: uppercase;
    font-style: italic;
}
.dash_form input,
.dash_form button,
.dash_form select,
.dash_form textarea{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black-color);
    padding: 10px 5px;
    font-family: var(--font);
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
}
.desc_c{
    resize: none;
}
.dual{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dual input,.dual select{
    width: 48%;
}
.dash_form button{
    background-color: var(--green);
    text-transform: uppercase;
    border: 1px solid var(--green);
    color: var(--white-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.dash_form button:hover{
    background-color: transparent;
    color: var(--green);
}
